In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [1]:
import pandas as pd
import numpy as np

In [2]:
sal=pd.read_csv('/sales_data.csv')

In [3]:
sal.head() #Display the first 5 records

,Product ID,Product Name,Category,Quantity Sold,Unit Price,Total Revenue
0,P0001,Tennis Racket,Sports,438,511.32,223958.16
1,P0002,RC Car,Toys,175,957.62,167583.50
2,P0003,Jacket,Clothing,461,457.81,211050.41
3,P0004,Comics,Books,477,22.86,10904.22
4,P0005,Puzzle,Toys,126,783.81,98760.06

In [4]:
sal.describe() #Descriptive statistics

       Quantity Sold  Unit Price  Total Revenue
count     450.000000  450.000000     450.000000
mean      248.308889  514.915933  128028.351600
std       144.192136  280.814384  110112.962644
min        10.000000    5.850000     157.320000
25%       118.250000  280.142500   37347.800000
50%       249.500000  524.605000   94954.140000
75%       376.000000  754.165000  198675.970000
max       500.000000  997.430000  447455.320000

In [5]:
sal.info() #Data Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product ID     450 non-null    object
 1   Product Name   450 non-null    object
 2   Category       450 non-null    object
 3   Quantity Sold  450 non-null    int64
 4   Unit Price     450 non-null    float64
 5   Total Revenue  450 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 21.2+ KB

In [13]:
for unique_category in sal['Category'].unique(): #List of unique categories
    print(unique_category)

Sports
Toys
Clothing
Books
Electronics
Home & Kitchen

In [18]:
avg=sal['Total Revenue'].mean() #Average total revenue
print(f'Average revenue: {avg}')

Average revenue: 128028.3516

In [19]:
total=sal['Total Revenue'].mean() # Sum of total revenue
print(f'Total revenue: {total}')

Total revenue: 128028.3516

In [21]:
maxrev=sal['Total Revenue'].max() #Product with highest revenue
sal[sal['Total Revenue']==maxrev][['Product Name','Total Revenue']]

    Product Name  Total Revenue
396       Camera      447455.32

In [24]:
maxquant=sal['Quantity Sold'].max() #Product with highest sales
sal[sal['Quantity Sold']==maxquant][['Product Name', 'Quantity Sold']]

    Product Name  Quantity Sold
280         Doll            500

In [27]:
catsal=sal.groupby('Category') #Average revenue by category
catsal['Total Revenue'].mean()

Category
Books             140771.377955
Clothing          134640.850857
Electronics       121425.074545
Home & Kitchen    119090.294444
Sports            122255.355625
Toys              128280.429286
Name: Total Revenue, dtype: float64

In [30]:
product_count=sal['Category'].value_counts().reset_index() #number of prudycts in each category
product_count.columns = ['Category', 'Product Count']
print(product_count)

         Category  Product Count
0           Books             88
1  Home & Kitchen             81
2     Electronics             77
3            Toys             70
4        Clothing             70
5          Sports             64

In [35]:
sal['Performance'] = np.where(sal['Total Revenue'] > 50000, 'High', 'Low') #High and low performance
print (sal[['Product Name', 'Performance']])

      Product Name Performance
0    Tennis Racket        High
1           RC Car        High
2           Jacket        High
3           Comics         Low
4           Puzzle        High
..             ...         ...
445         Laptop         Low
446     Smartphone         Low
447     Basketball         Low
448  Tennis Racket        High
449  Tennis Racket        High

[450 rows x 2 columns]

In [39]:
total_products = len(sal)
print(f"Total number of products:", total_products)

Total number of products: 450

In [36]:
percount=sal['Performance'].value_counts().reset_index()
percount.columns =['Performance','Count']
print (percount)

  Performance  Count
0        High    311
1         Low    139

In [40]:
sal.groupby('Performance')['Product Name'].count()

Performance
High    311
Low     139
Name: Product Name, dtype: int64